header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #184a27;
    #plainGreenBoxJustBecuaseILikeIt{
        width: 100%;
        display: block;
        height: 100px;
        margin: 5px;
        
    }

}
